$charw: 8px;
$charh: 16px;


//
//  COLORS
//

$lighterGray: #eee;
$lightGray: #aaa;
$darkGray: #333;

$darkBlue: #0000cd;
$darkerBlue: #0000aa;

$teal: #04aaac;


$lightRed: #ff5555;
$darkRed: #aa0000;

