body {
    position: relative;
    min-height: 100%;
    min-width: 100%;


    #original-image {
        max-width: 100%;
        padding: 3%;
        display: none;
        img {
            max-width: 100%;
        }
    }

    footer {
        width: 100%;
        clear: both;
        height: 1px;
        background: #ddd;
    }
    #atelier {
        display: none;
    }
}
