html {
    font-family: Fixedsys, Courier, monospace;
    height: 100%;
}
body {
    position: relative;
    background: #eee;

    .pagewrap {
        overflow: hidden;
    	min-height: 500px;
    }
    .column {
    	padding-bottom: 20010px; 
  		margin-bottom: -20000px;
        float: left;
        &.sidebar {
            font-size: 1.5em;
            width: 150px;
            height: 100%;
            background: white;
            #preview, [for="preview"] {
                cursor: pointer;
            }
            [type="number"] {
                width: 50px;
                padding-left: 5px;
            }
        }
        &.main {
        	padding-top: 20px;
        	padding-left: 20px;
            canvas {
                display: none;
                margin: 0 auto;
            }
            #original-image {
                max-width: 100%;
                padding: 3%;
                display: none;
                img {
                    max-width: 100%;
                }
            }
            output {
                display: inline-block;
                border: 5px double #345;
                font-family: Courier, sans-serif;
                font-size: 12px;
                line-height: 13px;
				padding: 5px;
            }
        }
    }
    footer {
    	///position: relative;
    	width: 100%;
    	clear: both;
    	height: 1px;
    	background: #ddd;
    }
    .dropBox {
        .absCenter();
        width: 80%;
        height: 80%;
        color: white;
        z-index: -1;
        //border: 3px dashed gray;
        border-radius: 100%;
        text-align: center;
        background: blue;
        //display: none;
        .dropMessage {
            .absCenter();
            text-shadow: black 0px -4px, black 0px 4px, black -4px 0px, black 4px 0px;
            height: 50px;
            font-size: 40px;
        }
    }
}
