@mixin border-img($image) {
    border-style: solid;
    border-width: 16px 8px;
    -moz-border-image: url($image) 16 8 round;
    -webkit-border-image: url($image) 16 8 round;
    -o-border-image: url($image) 16 8 round;
    border-image: url($image) 16 8 round;
}
%box {
    background-color: $teal;
    box-shadow: 2*$charw $charh 0 0 rgba(0, 0, 0, 0.5);
    cursor: move;
    display: inline-block;
    padding: 0 8px;
}
%box__subbox {
}

.box--lightblue {
    @extend %box;
    @include border-img("../img/lightblue-2.gif");
    background-color: $teal;
}

.box__subbox--drawing {
	//@extend %box__subbox;
    @include border-img("../img/white-gray-1.gif");

    background-color: #fff;

	pre {
	    display: block;
	    cursor: text;
        position: relative;
        width: 100%;

	    &:focus {
	    	background-color: #eee;
	    	outline: none;
	    }

        .hovered {
            background-color: #333;
            color: #fff;
        }
	}
}

.box__subbox--controls {
    line-height: $charh;
    padding: $charh $charw;
}
