/* ==========================================================================
   Button
   ========================================================================== */

.btn {
    background: none;
    border: none;
    display: inline-block;
    font-family: $ff-proxima;
    font-size: 16px;
    font-weight: 700;
font-family: $ff-proxima-n7;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}

.btn + .btn { margin-left: $micro; }

.btn--outline {
    padding: 10px 15px 8px;
    border: 2px solid;
    @include border-radius(4px);
}
.btn--outline--dark-bg {
    @extend .btn--outline;
    border-color: rgba(255,255,255,0.9);
    color: white;
    &:hover {
        background-color: #fff;
    }
}
.btn--outline--pcontacts__button {
    @extend .btn--outline;
    border-color: #d3d3d3;
    background: white;
    color: #7e7e7e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
font-family: $ff-proxima-n7;
    font-family: $ff-proxima;
    font-size: 16px;
    margin-top: 22px;
    &:hover {
        text-decoration: underline;
    }
}
.btn--outline--aktivity {
    @extend .btn--outline--dark-bg;
    &:hover {
        border-color: #78b54d;
        color: #78b54d;
    }
}
.btn--outline--aktuality {
    @extend .btn--outline--dark-bg;
    &:hover {
        border-color: #26a2b9;
        color: #26a2b9;
    }
}
.btn--outline--blue {
    @extend .btn--outline;
    border-color: #b0dde7;
    color: #419fad;
    &:hover {
        border-color: #419fad;
    }
}
.btn--outline--note {
    @extend .btn--outline--dark-bg;

    &:hover {
        border-color: #1d2731;
        color: #1d2731;
    }
}
.btn--outline--mapa-arealu {
    @extend .btn--outline;
    border-color: rgba(255,255,225,0.5);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
font-family: $ff-proxima-n6;
    &:hover {
        border-color: white;
    }
}
.btn--full-red {
    background-color: #f26b48;
    border: 2px solid #f26b48;
    @include border-radius(4px);
    color: white;
    font-family: $ff-proxima;
    font-weight: 700;
    font-family: $ff-proxima-n7;
    height: 35px;
    padding: 9px 15px 8px;
    text-transform: uppercase;
    width: 128px;

    @include font-size(12px, false);

    &:hover {
        background-color: #fff;
        border: 2px solid #f26b48;
        color: #f26b48;
    }
    &.greyed {
        background-color: #b3b3b3;
        border-color: #b3b3b3;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #b3b3b3;
        }
    }
}
.btn--full-blue {
    background: #1dbfd7;
    color: white;
    padding: 12px 15px 10px;
    @include border-radius(4px);

    &:hover { text-decoration: underline; }
}

.btn--dark-blue {
    @include border-radius(4px);
    background-color: rgba(51,79,104,.9);
    color: white;
    padding: 12px 15px 10px;

    &:hover {
      text-decoration: underline;
    }
}

.btn--opacity--90 {
    @include opacity(0.9);
}

.btn--bottom {
  position: absolute;
  bottom: 66px;
  left: 50%;
  margin-left: -90px
}